function RoidGame.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push constant 240
push constant 110
call Ship.new 2
pop this 0
push constant 0
pop this 1
push pointer 0
return
function RoidGame.dispose 0
push argument 0
pop pointer 0
push argument 0
pop pointer 0
push this 0
call ship.killShip 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function RoidGame.newMissile 0
push argument 0
pop pointer 0
push argument 3
push this 2
push constant 4
call Math.multiply 2
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 3
push this 2
push constant 4
call Math.multiply 2
push constant 1
add
add
push argument 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 3
push this 2
push constant 4
call Math.multiply 2
push constant 2
add
add
push constant 2
neg
push argument 0
pop pointer 0
push this 0
call ship.getSinTheta 1
call Math.multiply 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 3
push this 2
push constant 4
call Math.multiply 2
push constant 3
add
add
push constant 2
neg
push argument 0
pop pointer 0
push this 0
call ship.getCosTheta 1
call Math.multiply 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 2
push constant 1
add
pop this 2
push argument 0
pop pointer 0
push this 0
call ship.getX 1
call Output.printInt 1
push constant 44
call String.new 1
call Output.printChar 1
push argument 0
pop pointer 0
push this 0
call ship.getY 1
call Output.printInt 1
push constant 44
call String.new 1
call Output.printChar 1
call Output.println 0
push constant 0
return
function RoidGame.moveMissiles 1
push argument 0
pop pointer 0
push constant 0
pop local 0
label L0
push local 0
push constant 197
lt
not
if-goto L1
push local 1
push local 0
add
pop pointer 1
push that 0
eq
not
not
if-goto L1
call Screen.setColor 1
pop temp 0
push local 1
push local 0
add
pop pointer 1
push that 0
push local 1
push local 0
push constant 1
add
add
pop pointer 1
push that 0
call Screen.drawPixel 2
pop temp 0
push local 1
push local 0
push constant 2
add
add
pop pointer 1
push that 0
push constant 0
gt
not
if-goto L2
push argument 1
push local 0
add
push local 1
push local 0
add
pop pointer 1
push that 0
push constant 1
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto L3
label L2
push local 1
push local 0
push constant 2
add
add
pop pointer 1
push that 0
push constant 0
lt
not
if-goto L3
push argument 1
push local 0
add
push local 1
push local 0
add
pop pointer 1
push that 0
push constant 1
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto L4
label L3
push local 1
push local 0
push constant 3
add
add
pop pointer 1
push that 0
push constant 0
gt
not
if-goto L4
push argument 1
push local 0
push constant 1
add
add
push local 1
push local 0
push constant 1
add
add
pop pointer 1
push that 0
push constant 1
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto L5
label L4
push local 1
push local 0
push constant 3
add
add
pop pointer 1
push that 0
push constant 0
lt
not
if-goto L5
push argument 1
push local 0
push constant 1
add
add
push local 1
push local 0
push constant 1
add
add
pop pointer 1
push that 0
push constant 1
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto L6
label L5
goto L2
label L1
push constant 1
neg
call Screen.setColor 1
pop temp 0
push local 1
push local 0
push constant 1
add
add
pop pointer 1
push that 0
push constant 0
eq
not
if-goto L6
push argument 1
push local 0
push constant 1
add
add
push constant 255
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto L7
label L6
push local 1
push local 0
push constant 1
add
add
pop pointer 1
push that 0
push constant 255
gt
not
if-goto L7
push argument 1
push local 0
push constant 1
add
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto L8
label L7
push local 1
push local 0
add
pop pointer 1
push that 0
push constant 510
gt
not
if-goto L8
push argument 1
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto L9
label L8
push local 1
push local 0
add
pop pointer 1
push that 0
push constant 1
lt
not
if-goto L9
push argument 1
push local 0
add
push constant 510
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto L10
label L9
push local 1
push local 0
add
pop pointer 1
push that 0
push local 1
push local 0
push constant 1
add
add
pop pointer 1
push that 0
call Screen.drawPixel 2
pop temp 0
push local 0
push constant 4
add
pop local 0
goto L0
label L1
push constant 0
return
function RoidGame.run 4
push argument 0
pop pointer 0
pop local 1
push constant 200
call Array.new 1
pop temp 0
pop this 3
push constant 0
pop local 3
push constant 0
pop this 2
label L10
push local 3
push constant 200
lt
not
if-goto L11
push this 3
push local 3
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 3
push constant 1
add
pop local 3
goto L10
label L11
label L11
push local 1
not
not
if-goto L12
push local 0
push constant 0
eq
not
if-goto L12
call Keyboard.keyPressed 0
pop temp 0
pop local 0
goto L13
label L12
push local 0
push constant 81
eq
not
if-goto L13
push constant 1
neg
pop local 1
goto L14
label L13
push local 0
push constant 32
eq
not
if-goto L14
push argument 0
pop pointer 0
push this 0
call ship.getX 1
pop temp 0
push argument 0
pop pointer 0
push this 0
call ship.getY 1
pop temp 0
push this 3
call .newMissile 3
pop temp 0
goto L15
label L14
push local 0
push constant 0
eq
not
not
if-goto L15
call Keyboard.keyPressed 0
pop temp 0
pop local 0
push local 0
push constant 131
eq
not
if-goto L16
push argument 0
pop pointer 0
push this 0
call ship.speedUp 1
pop temp 0
goto L17
label L16
push local 0
push constant 130
eq
not
if-goto L17
push argument 0
pop pointer 0
push this 0
call ship.rotateLeft 1
pop temp 0
goto L18
label L17
push local 0
push constant 132
eq
not
if-goto L18
push argument 0
pop pointer 0
push this 0
call ship.rotateRight 1
pop temp 0
goto L19
label L18
goto L16
label L15
push this 3
call .moveMissiles 1
pop temp 0
push argument 0
pop pointer 0
push this 0
call ship.flyShip 1
pop temp 0
push constant 60
call Sys.wait 1
pop temp 0
goto L11
label L12
push constant 0
return